DISCORD_TOKEN=YOUR_DISCORD_BOT_TOKEN
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/botdb
BOT_API_SECRET=e9327dcf3cef2e06b9e1a0c17753666a6ad8682f9558a86add672ec286b13ea4
BOT_API_PORT=3008
NODE_ENV=production
